<div class="flex xl:justify-center w-full">
  <form
    [formGroup]="forgotPasswordForm"
    class="w-full font-Poppins p-4 xl:w-[40%]"
  >
    <h2 class="mb-3 text-center text-lg font-medium">Forgot Password</h2>

    <!-- Email Input -->
    <div class="" *ngIf="!otpSent">
      <input
        type="email"
        id="email"
        formControlName="email"
        class="border-b-2 w-full py-2 px-3 mb-4 focus:outline-none"
        placeholder="johndoe@gmail.com"
        required
      />
      <div
        *ngIf="
          forgotPasswordForm.get('email')!.hasError('required') &&
          forgotPasswordForm.get('email')!.touched
        "
      >
        Email is required.
      </div>
      <div
        *ngIf="
          forgotPasswordForm.get('email')!.hasError('email') &&
          forgotPasswordForm.get('email')!.touched
        "
      >
        Please enter a valid email address.
      </div>
      <div class="flex justify-center">
        <app-button-with-loader
          [buttonType]="'submit'"
          [classText]="'btn btn-custom w-full '"
          [idleStateText]="'Get Otp'"
          [isProcessing]="loading"
          [workingStateText]="'Sending otp...'"
          (buttonClick)="onSendMail()"
        >
        </app-button-with-loader>
      </div>
    </div>

    <div *ngIf="otpSent">
      <!-- OTP Input -->
      <div class="mb-4">
        <input
          type="text"
          id="otp"
          formControlName="otp"
          class="border-b-2 w-full py-2 px-3 mb-4 focus:outline-none"
          placeholder="Enter OTP"
          required
        />
        <div
          *ngIf="
            forgotPasswordForm.get('otp')!.hasError('required') &&
            forgotPasswordForm.get('otp')!.touched
          "
        >
          OTP is required.
        </div>
      </div>

      <!-- Password Input -->
      <div class="mb-4">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="border-b-2 w-full py-2 px-3 mb-4 focus:outline-none"
          placeholder="Enter new password"
          required
        />
        <div
          *ngIf="
            forgotPasswordForm.get('password')!.hasError('required') &&
            forgotPasswordForm.get('password')!.touched
          "
        >
          Password is required.
        </div>
      </div>

      <!-- Confirm Password Input -->
      <div class="mb-4">
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="border-b-2 w-full py-2 px-3 mb-4 focus:outline-none"
          placeholder="Confirm new password"
          required
        />
        <div
          *ngIf="
            forgotPasswordForm.get('confirmPassword')!.hasError('required') &&
            forgotPasswordForm.get('confirmPassword')!.touched
          "
        >
          Confirm password is required.
        </div>
        <div
          *ngIf="
            forgotPasswordForm.get('confirmPassword')!.hasError('mismatch') &&
            forgotPasswordForm.get('confirmPassword')!.touched
          "
        >
          Passwords do not match.
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center">
        <app-button-with-loader
          [buttonType]="'submit'"
          [classText]="'btn btn-custom w-full '"
          [idleStateText]="'Confirm'"
          [isProcessing]="loading"
          [workingStateText]="'Confirming...'"
          (buttonClick)="onConfirm()"
        >
        </app-button-with-loader>
      </div>
    </div>
  </form>
</div>
