<div class="flex xl:justify-around lg:justify-around flex-wrap sm:flex-col xs:flex-col gap-4 my-6">
  <div class="font-Poppins text-[#000000] flex flex-col items-center">
    <img src="assets/icons/freedelivery.svg" alt="" class="mb-4 sm:mb-2 xs:mb-1 size-20" />
    <p class="font-semibold text-xl xl:py-2 lg:py-2">FREE AND FAST DELIVERY</p>
    <p class="text-sm">Free delivery for all orders over $140</p>
  </div>
  <div class="font-Poppins text-[#000000] flex flex-col items-center">
    <img src="assets/icons/customerservice.svg" alt="" class="mb-4 sm:mb-2 xs:mb-1 size-20" />
    <p class="font-semibold text-xl xl:py-2 lg:py-2">24/7 CUSTOMER SERVICE</p>
    <p class="text-sm">Friendly 24/7 customer support</p>
  </div>
  <div class="font-Poppins text-[#000000] flex flex-col items-center">
    <img src="assets/icons/moneyback.svg" alt="" class="mb-4 sm:mb-2 xs:mb-1 size-20" />
    <p class="font-semibold text-xl xl:py-2 lg:py-2">PAYMENT ON DELIVERY</p>
    <p class="text-sm">Flexible payment plan</p>
  </div>
</div>