.btn-custom {
  padding: 0.68rem 1rem; /* Bigger button padding */
  border-radius: 0.3rem; /* Rounded corners */
  background-color: #344e9e; /* Primary color */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 1rem;
  height: 0.8rem;
}
