.btn-custom {
  padding: 0.68rem 1rem; /* Bigger button padding */
  /* font-size: 1.25rem; Bigger font size */
  border-radius: 0.3rem; /* Rounded corners */
  background-color: #ffba49; /* Primary color */
  color: white; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
}
.btn-white {
  padding: 0.68rem 1rem; /* Bigger button padding */
  /* font-size: 1.25rem; Bigger font size */
  border-radius: 0.3rem; /* Rounded corners */
  background-color: transparent; /* Primary color */
  color: #000000; /* Text color */
  border: 1px solid #00000066;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
}
