<button class="btn gap-md-2 gap-1 text-md-h5 text-h6" [type]="buttonType" [ngClass]="classText"
  [disabled]="isProcessing" (click)="emitOnClickEvent()">
  <div [innerHTML]="icon"></div>
  <img src="{{ svgIcon }}" alt="" class="" *ngIf="svgIcon" />
  {{ isProcessing ? workingStateText : idleStateText }}
  <ng-container *ngIf="isProcessing">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
</button>