.signup-image {
  background: linear-gradient(#ffffff3b, #ffffff3d),
    url("/assets/images/women.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}
